@use "./Variables" as *;
@use "./Fonts" as *;
@mixin fix($breakpoint) {
  @if $breakpoint == tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
  @if $breakpoint == phone {
    @media screen and (max-width: $mobile) {
      @content;
    }
  }
}

@mixin text-style($w, $c: $brainFlix-black) {
  font-family: "avenir";
  font-weight: $w;
  color: $c;
}
@mixin text-size($lh, $s: 2.2rem) {
  font-size: $s;
  line-height: $lh;
}
@mixin flex(
  $display: flex,
  $items: center,
  $content: center,
  $direction: row,
  $alignwrap: stretch
) {
  display: $display;
  align-items: $items;
  justify-content: $content;
  flex-direction: $direction;
  align-content: $alignwrap;
}
