//primary colors
$brainFlix-black: #323232;
$brainFlix-blue: #0095ff;
$silver: #afafaf;
$very-white: #ffffff;
//secondary colors
$brainFlix-darkblue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$brainFlix-darkblack: #000000;
//variables
$tablet: 768px;
$desktop: 1280px;
$mobile: 767px;
