@use "../../Styles/Partials/Variables" as *;
@use "../../Styles/Partials/Mixins" as *;

.notfound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45rem;
  &__title {
    margin: 0 auto;
    @include text-size(3.2rem, 2.4rem);
    @include text-style(700);
    margin-bottom: 1.6rem;
    @include fix(tablet) {
      @include text-size(4.4rem, 3.3rem);
    }
  }
}
