@use "../../Styles/Partials/Variables" as *;
@use "../../Styles/Partials/Mixins" as *;

.comment {
  padding: 0rem 1.6rem 0rem 1.6rem;
  border-bottom: 1px solid $mercury;
  @include fix(tablet) {
    padding-left: 3.4rem;
    padding-right: 3.4rem;
  }
  @include fix(desktop) {
    padding: 0;
    border-bottom: none;
  }

  &__forum {
    margin-top: 1.6rem;
  }
}
.form {
  @include flex();
  width: 100%;

  &__wrapper {
    @include flex($direction: column, $items: flex-start);
    width: 100%;
    @include fix(tablet) {
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
    }
    @include fix(desktop) {
      padding-right: 1.6rem;
    }
  }
  &__input-wrapper {
    width: 100%;
    @include fix(tablet) {
      display: flex;
    }
  }
  &__input {
    box-sizing: border-box;
    font-family: "avenir";
    color: $black;
    width: 100%;
    border-radius: 0.4rem;
    padding: 0.8rem 0 0 1.2rem;
    border: 1px solid $mercury;
    background: $alabaster;
    height: 8rem;
    resize: none;
    @include fix(phone) {
      margin-bottom: 1.6rem;
    }
    @include fix(tablet) {
      height: 4rem;
      max-width: 100%;
    }
    &:focus {
      outline: 2px solid $blue-primary;
    }
    &::placeholder {
      @include text-size(2.2rem, 1.4rem);
      @include text-style(400);
    }
  }

  &__img {
    align-self: flex-start;
    margin: 2.4rem 1.6rem 0 0;
    @include fix(tablet) {
      display: inline-flex;
      height: 4rem;
      width: 4rem;
    }
  }
  &__label {
    @include text-size(2rem, 1.2rem);
    @include text-style(700, $silver);
    text-transform: uppercase;
    margin-bottom: 0.4rem;
    @include fix(tablet) {
      width: 100%;
    }
  }
  &--btn {
    align-self: flex-end;
    background-image: url("../../Assets/Icons/add_comment.svg");
    @include fix(tablet) {
      margin-left: 1.6rem;
    }
  }
}
