@use "../../Styles/Partials/Variables" as *;
@use "../../Styles/Partials/Mixins" as *;

.main__wrapper {
  padding-bottom: 0.8rem;
  @include fix(desktop) {
    @include flex($items: flex-start);
    margin: 0 auto;
    width: 95%;
  }
}
.main__comment-box {
  @include fix(desktop) {
    width: 75rem;
  }
}
.loading-text {
  width: 100%;
  height: auto;
  margin: 40% auto;
  text-align: center;
  @include text-size(2rem, 6rem);
  @include text-style(700);
}
