@use "../../Styles/Partials/Variables" as *;
@use "../../Styles/Partials/Mixins" as *;

.nav {
  padding: 1.6rem;
  @include fix(tablet) {
    padding: 1.6rem 3.4rem;
  }
  &__wrapper {
    @include flex($direction: column);
    gap: 1.6rem;
    width: 100%;
    @include fix(tablet) {
      @include flex($direction: row, $content: space-between);
    }
    @include fix(desktop) {
      margin: 0 auto;
      width: 110rem;
    }
  }
  &__search-box {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    gap: 1.6rem;
    @include fix(tablet) {
      flex-wrap: nowrap;
    }
  }
  &__logo {
    height: 2.5rem;
    width: 12rem;
  }
}

.pfp {
  display: inline-flex;
  align-self: center;
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: 20% 40%;
  margin: 0 auto;
  @include fix(tablet) {
    display: none;
  }
  &--tablet {
    border-radius: 50%;
    object-fit: cover;
    object-position: 20% 40%;
    height: 4rem;
    width: 4rem;
    margin-left: 1rem;
    @include fix(phone) {
      display: none;
    }
  }
}
.search {
  @include flex($content: space-between);
  width: 80%;
  &__input {
    font-family: "avenir";
    color: $black;
    min-height: 3.6rem;
    width: 100%;
    border-radius: 0.4rem;
    padding: 1.2rem;
    padding-left: 3.8rem;
    border: 1px solid $mercury;
    background: $alabaster url("../../Assets/Icons/search.svg") no-repeat 1.3rem
      center;
    @include fix(tablet) {
      min-height: 4rem;
      width: 24rem;
      margin-left: auto;
    }
    &:focus {
      outline: 2px solid $blue-primary;
    }
    &::placeholder {
      @include text-size(2rem, 1.2rem);
      @include text-style(400);
    }
  }
}
.btn {
  background-image: url("../../Assets/Icons/upload.svg");
  background-repeat: no-repeat;
  background-position: 3% 55%;
  border-color: transparent;
  background-color: $blue-primary;
  border-radius: 0.4rem;
  height: 4rem;
  width: 100%;
  padding: 0 3.6rem;
  text-transform: uppercase;
  @include text-size(2rem, 1.2rem);
  @include text-style(700, $very-white);
  &--link {
    width: 100%;
    @include fix(tablet) {
      width: 15rem;
    }
  }
  @include fix(tablet) {
    width: 15rem;
  }
  &:hover {
    background-color: $blue-secondary;
    cursor: pointer;
  }
}
