@use "./Styles/Partials/Variables" as *;
@use "./Styles/Partials/Mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
.main__wrapper {
  padding-bottom: 0.8rem;
  @include fix(desktop) {
    @include flex($items: flex-start);
    margin: 0 auto;
    width: 95%;
  }
}
.main__comment-box {
  @include fix(desktop) {
    width: 60%;
  }
}
